<!DOCTYPE html>
<html lang="en">
<head>
    <title>실시간 뉴스 속보</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    {% load static %}
</head>
<style>
    #buttonBack {
    background-color: #03C75A; /* 네이버 녹색 배경색 */
    border-color: #03C75A;     /* 네이버 녹색 테두리 */
    color: white;              /* 흰색 텍스트 */
  }

  #buttonBack:hover {
    background-color: #029A46; /* 호버 시 더 어두운 녹색 */
    border-color: #02853C;     /* 호버 시 테두리 색상 */
  }
  #logo{
    margin-left: 220px;
  }
</style>
<body>
<div class="container mt-5">
    <img id="logo" src="{% static 'images/logo.png' %}" alt="네이버">

    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        {% for news in NaverNews %}
            <div class="col d-flex justify-content-center">
                <div class="card h-100" style="max-width: 1200px;">
                    {% if news.nImage %}
                        <img src="{{news.nImage}}" class="card-img-top" alt="News Image">
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text">{{ news.nContent }}</p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">출처 : <a href="{{news.nLink }}" target="_blank">{{news.nLink }} </a></small>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="text-end mt-4">
        <button id="buttonBack" class="btn btn-success" onClick="buttonBackBtn()">뒤로가기</button>
    </div>
</div>

<script>
    function buttonBackBtn() {
        window.location.href =  window.location.origin + '/NaverNews';
    }
</script>
</body>
</html>