<!DOCTYPE html>
<html lang="en">
<head>
    <title>실시간 뉴스 속보</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<div class="container mt-3">
    <h2 class="text-center mb-4">네이버 뉴스</h2>
    <p class="text-center mb-4">실시간 네이버 뉴스를 보다 편리하게 보실 수 있습니다.</p>
        {% for news in NaverNews %}
            {% if news.nImage %}
                <img src="{{news.nImage}}">
            {% endif %}
            <td>{{ news.nContent }}</td>
            <td>출처 : <a href="{{news.nLink }}">{{news.nLink }} </a></td>
        {% endfor %}
        <button id="buttonBack" onClick="buttonBackBtn()">뒤로가기</button>
</div>
<script>
    function buttonBackBtn() {
        window.location.href =  window.location.origin + '/NaverNews';
    }
</script>
</body>
</html>