{% extends 'base.html' %}

{% block content %}
{% load static %}
<style>
    #logo{
        margin-left: 220px;
    }
    .custom-title {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 36px;
        color: #03C75A;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
        letter-spacing: 2px;
    }
</style>
<div class="container mt-5">
    <img id="logo" src="{% static 'images/logo.png' %}" alt="네이버">
    <h1 class="custom-title text-center mb-4">언론사 별 기사 수 막대 차트</h1>
    <div class="row row-cols-1 row-cols-md-2 g-4 justify-content-center">
        <canvas id="myChart" style="max-width: 800px; max-height: 400px;"></canvas>
    </div>z
    <div class="text-end mt-4">
        <button id="buttonBack" class="btn btn-success" onClick="buttonBackBtn()">뒤로가기</button>
    </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        function buttonBackBtn() {
            window.location.href =  window.location.origin + '/NaverNews';
        }

        // django의 view 파일에서 넘어온 json 타입의 데이터
        const data = {{ data_json|safe }};
        console.log(data);

        // 데이터에서 레이블과 숫자 카운트를 추출
        const labels = data.map(item => item.nCompany);
        const counts = data.map(item => item.count);

        // 캔버스 요소를 찾습니다.(그림 그릴 곳)
        const ctx = document.getElementById('myChart').getContext('2d');

        // 차트 생성
        new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: '기사 수',
                    data: counts,
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}
